<?xml version="1.0"?>

<launch>
  
  <group ns="sensor_head_joint_control">
     <rosparam file="$(find hector_camera_joint_controller)/config/argo_tracker_sensor_head_patterns.yaml" command="load" />
  </group>  
  
  <node name="sensor_head_joint_control" pkg="hector_camera_joint_controller" type="cam_joint_trajectory_controller" respawn="true" output="screen">
    <param name="controller_namespace" value="/arm_control/sensor_head_traj_controller" />
    <param name="control_loop_period" value="0.1" />
    <param name="command_goal_time_from_start" value="0.3" />

    <param name="robot_link_reference_frame" value="arm_link_4" />
    <param name="lookat_reference_frame" value="sensor_head_mount_link" />

    <param name="default_direction_reference_frame" value="base_link" />
    <param name="stabilize_default_direction_reference" value="false" />

    <param name="joint_order_type" value="zyx" />
  </node>
</launch>
